<% if @running %>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=https://video.ibm.com/channel/c3LKYqscA6M">
        <script type="text/javascript">
            window.location.href = "https://video.ibm.com/channel/c3LKYqscA6M"
        </script>
    </head>
    <body>
        If you are not redirected automatically, follow this <a href='https://video.ibm.com/channel/c3LKYqscA6M'>link to example</a>.
    </body>
</html>
  
<% else %>
  <p>De vergadering is op dit moment niet toegankelijk, probeer het later nog eens.</p>
<% end %>
