<%= form_with(model: user, local: true, url: path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :moderator %>
    <%= form.check_box :moderator %>
  </div>

  <div class="field">
    <%= form.label :invited %>
    <%= form.check_box :invited %>
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.check_box :vote %>
  </div>

  <div class="field">
    <%= form.label :proxy %>
    <%= form.check_box :proxy %>
  </div>

  <div class="field">
    <%= form.label :presence %>
    <%= form.check_box :presence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
