<h1>Bulk Users: <%= @room.name %></h1>

<p>
csv formaat voor bulk import: email,name,moderator,vote,proxy,invited,presence. kolom volgorde maakt niet uit. komma-separated met header.
<% if false %>
download een sample <%= link_to "hier", "/bbb.csv" %>.
<% end %>
</p>

<ul>
<li><code>email</code> wordt het email adres waarop mensen de invites tot vergader systeem BigBlueButton en stem systeem Helios op krijgen. wanneer leden het email opgeven waarmee ze als lid geregistreerd staan vereenvoudigt dit tevens het controle proces op lidmaatschap en woonachtigheid in het afdelingsgebied voor het stemrecht.</li>
<li><code>name</code> is de display naam in BigBlueButton, d.w.z. als iemand daar met pronouns of zonder toenaam in wil dient dat hier gereflecteerd te staan.</li>
<li>zet iedereen op <code>invited=FALSE</code> zodat ze mailtje krijgen met BBB invite</li>
<li><code>moderator=TRUE</code> laat iemand de aanwezige leden uitdraaien dus vergt clearance tot persoonsgegevens. rest <code>FALSE</code>. BigBlueButton moderators kunnen binnen BigBlueButton zelf als dusdanig aangemerkt worden.</li>
<li>leden met stemrecht (afdelingen: woonachtig in afdelingsgebied) krijgen <code>vote=TRUE</code> rest <code>FALSE</code></li>
<li>machtiging voor stemmen delegeren: gedelegeerde entry krijgt naam van machtiger, email van gemachtigde, <code>proxy=TRUE</code>, anderen <code>FALSE</code>.</li>
<li>initiele aanwezigheid (benodigd om stemlink te krijgen) zonder een BBB kamer te hoeven binnengaan, bv bij fysieke aanwezigheid: <code>presence=TRUE</code>, anders <code>FALSE</code>. voor BBB wordt dit op <code>TRUE</code> gezet middels de <code>:token</code> join endpoint, voor de Vimeo stream via de <code>:token/stream</code> endpoint.</li>
</ul>

<%= form_with(local: true) do |form| %>
  <div class="field">
    <%= form.text_area :users_csv, value: @sample %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <%= link_to 'Back', room_users_path %>
<% end %>
