<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meeting</th>
      <th>Attendee pw</th>
      <th>Moderator pw</th>
      <th>Email Subject</th>
      <!--<th>Email Body</th>-->
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.meeting %></td>
        <td><%= room.attendee_pw %></td>
        <td><%= room.moderator_pw %></td>
        <td><%= room.email_subject %></td>
        <!--<td><%= room.email_body %></td>-->
        <!--<td><%= link_to 'Show', room %></td>-->
        <td><%= link_to 'Users', room_users_path(room) %></td>
        <td><%= link_to 'Present Users', room_present_users_path(room) %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
