<p>
Beste mensen,
</p>

<p>
Morgen is onze eerste ledenvergadering van dit jaar.  Jullie hebben de
agenda en stukken reeds van ons ontvangen en hierbij krijgen jullie de
link waarmee jullie toegang krijgen tot de vergadering:
<p>

<a href="<%= @url %>"><%= @url %></a>

<p>
Deze link is persoonlijk, dus bruikbaar voor een enkele deelnemer en
is alleen verzonden naar mensen die zich aangemeld hebben voor de
ledenvergadering.  De vergadering zal vanaf ongeveer een uur voor het
begin toegankelijk zijn.
</p>

<p>
Lukt het niet om binnen te komen, dan kun je het volgende proberen:
</p>

<ul>
<li>Lees de uitleg nog even door
  <a href="https://mcusercontent.com/fb421c1b47f3d48f5a8ca5da3/files/cf9c9137-7784-44b6-bd82-adca69c820da/hoe_werkt_het_vergadersysteem_24_oktober.pdf">https://mcusercontent.com/fb421c1b47f3d48f5a8ca5da3/files/cf9c9137-7784-44b6-bd82-adca69c820da/hoe_werkt_het_vergadersysteem_24_oktober.pdf</a></li>

<li>Herlaad de pagina of open de link opnieuw</li>

<li>Probeer een andere webbrowser</li>

<li>Laad de desktopversie in plaats van de mobiele versie</li>

<li>Deactiveer extensies zoals adblockers</li>
</ul>

<p>
Lukt het na deze opties nog niet, dan zit de helpdesk klaar om jullie
te ondersteunen:
</p>

<ul>
<li>Ruud: 0683300482</li>

<li>Kelly: 0648502620</li>

<li>Kelly: 0640899933</li>
</ul>

<p>
We zien jullie graag morgen allemaal om 11:00 voor deze bijzondere
ledenvergadering.
</p>
